<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="#" type="text/css" />
		<title>Raw Smoothie MVC!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="/assets/clickFunctions.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     


	</head>
	<body>
		{{{ body }}}
	</body>
</html>

