<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap+Condensed|Luckiest+Guy">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Raw Smoothie MVC!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="/assets/clickFunctions.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
     
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					{{{ body }}}	
				</div>
				<div class="col-lg-2"></div>	
			</div>

			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<!--Footer-->
					<div id="footer">
						<div class="container">
						<p class="footer-block"><p id="footerText">&copy; 2017 Nicole Frazier</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
						
		</div>	<!--End of Container

	
			
	</body>
</html>

