    <div id="mainBox">
        <h1 id="mainFont">Welcome To Smoothie Mountain</h1>
       

        <h4 class="instructions">Change the name of the smoothie by clicking on it!</h4>
        <h4 class="instructions">Click the X next to the smoothie to delete it!</h4>
        <ul>
                {{#each smoothies}}
                    <li>
                        <p>
                            <div id="nameFont" >Smoothie Name: </div><a href= "/smoothie/{{smoothie_id}}" id="{{smoothie_name}}">{{smoothie_name}}</a>  
                            <button type="submit" id="{{smoothie_id}}" class="deleteButton">X</button>                                       
                        </p>
                    </li>
                {{/each}}
        </ul>

        <div id="addSection">
        <!--ADD A SMOOTHIE BUTTON!!!!!-->
            <h2>Add A New Smoothie Here:</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label for="createSmoothie" id="enterFont">Enter the Smoothie Name: </label>   
                        <input type="text" id="createSmoothie" name="name"> 
                    </div>
                    <button type="submit" id="smoothieButton">Add Smoothie</button>
                </form>
        </div>
    </div>