<h1> Raw Smoothie HTML Page</h1>
<ul>
    {{#each smoothies}}
        <li>
            <p>
                Smoothie Name: {{this.smoothie_name}}
            </p>
        </li>

        <li>
            <p>
                Smoothie Id: {{this.smoothie_id}}
            </p>
        </li> 
    {{/each}}     



</ul>