<h1> Raw Smoothie HTML Page</h1>
<ul>
    {{#each Smoothies}}
        <li>
            <p>
                Smoothie Name: {{smoothies.smoothie_name}}
            </p>
        </li>

        <li>
            <p>
                Smoothie Id: {{smoothies.smoothie_id}}
            </p>
        </li> 
    {{/each}}     



</ul>