<h1>Raw Smoothie Update Page</h1>
<ul>
        {{#each smoothies}}
            <li>
                <p>
                    Smoothie Name: <a href= "/smoothie/{{smoothie_id}}" id="{{smoothie_name}}">{{smoothie_name}}</a>
                </p>
            </li>
        {{/each}}
</ul>

<!--ADD A SMOOTHIE BUTTON!!!!!-->
    <h2>Add A Smoothie</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="createSmoothie">Smoothie Name: </label>   
                <input type="text" id="createSmoothie" name="name"> 
            </div>

            <button type="submit" id="smoothieButton">Add Smoothie</button>
        </form>

    
