<h1>Update Smoothie Name Page</h1>

{{!THIS WORKS!!! I AM GETTING THE CORRECT SMOOTHIE I CLICKED ON!!!}}

{{#each smoothies}}
    <h3>Current Smoothie Name: {{smoothie_name}}</h3>

    <h3>Update this smoothie</h3>

        <form class="update-form">
            <div class="form-group">
                <label for="updateSmoothieName">Create New Smoothie Name: </label>   
                <input type="text" id="updateName" name="name"> 
            </div>
        <button type="button" id="updateNameButton" thisSmoothieId="{{smoothie_id}}" class="btn btn-success">Update Smoothie Name</button>


{{/each}}

{{!-- 
    
        <form class="update-form">
            <div class="form-group">
                <label for="updateSmoothieName">Create New Smoothie Name: </label>   
                <input type="text" id="updateName" name = "name"> 
            </div>

            <button type="submit" id="updateNameButton">Update Smoothie Name</button>
        </form> --}}
